@import 'theme';
@import 'fonts';

a, button {
  border: none;
  margin-left: 10px;
  color: $light-color;
  display: inline-block;
  padding: 1em;
  font-size: $regular-fz;
  background: $color1;
  transition: all .5s;
  &:hover {
    text-decoration: none;
    background: darken($color1, 10);
  }
}
// :host-context(.bg-color-two) {
//   a, button {
//     background: $color2;
//     &:hover {
//       background: darken($color2, 10);
//     }
//   }
// }
// :host-context(.bg-color-three) {
//   a, button {
//     background: $color3;
//     &:hover {
//       background: darken($color3, 10);
//     }
//   }
// }
