@import 'theme';
@import 'fonts';

app-text {
  display: block;
  // padding: 10px;
}

.text {
  h1, h2, h3, p, span, i, li {
    color: $dark-color;
  }
}

.text {
  .color-light {
    h1, h2, h3, p, span, i, li {
      color: $light-color;
    }
  }
  .color1 {
    h1, h2, h3, p, span, i, li {
      color: $color1;
    }
  }
  .color2 {
    h1, h2, h3, p, span, i, li {
      color: $color2;
    }
  }
  .color3 {
    h1, h2, h3, p, span, i, li {
      color: $color3;
    }
  }
  .color-error {
    h1, h2, h3, p, span, i, li {
      color: $color-error;
    }
  }
  .color-success {
    h1, h2, h3, p, span, i, li {
      color: $color-success;
    }
  }
}

// .pages {
//   h1, h2, h3, p, span, i, li {
//     color: $dark-color;
//   }
// }

h1 {
  font-size: $h1-fz;
}

h2 {
  font-size: $h2-fz;
}

h3 {
  font-size: $h3-fz;
}

p, span, i, li {
  font-size: $regular-fz;
}
